.jumbotron {
    margin-bottom: 0px;
    background-image: url("../images/gems.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: chartreuse;
    text-shadow: black 0.3em 0.3em 0.3em;
    font-family: 'Times New Roman', Times, serif;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
}

.container {
    background-image: url("../images/gems.jpg");
    color: chartreuse;
    text-shadow: black 0.3em 0.3em 0.3em;
    font-family: 'Times New Roman', Times, serif;
    border: chartreuse 15px dotted;
}

.btn {
    color: cadetblue;
}

.crystal-cat {
    width: 150px;
    height: 150px;
}

body {
    background-image: url("../images/gems.jpg");
}

.wins-losses {
    right: 10px;
}

footer {
    text-align: center;
}